@import "tailwindcss";

.another-heading1 {
  font-family: var(--font-instrument-serif), serif;
  font-weight: normal;
  @apply text-[42px] leading-[63px] tracking-[-1.68px];
}

.another-heading2 {
  font-family: var(--font-instrument-serif), serif;
  font-weight: normal;
  @apply text-[28px] leading-[44px];
}

.another-heading3 {
  font-family: var(--font-instrument-sans), sans;
  font-weight: normal;
  @apply text-[24px] leading-[36px];
}

.another-heading4 {
  font-family: var(--font-instrument-sans), sans;
  font-weight: normal;
  @apply text-[20px] leading-[30px];
}

.another-heading5 {
  font-family: var(--font-instrument-sans), sans;
  font-weight: normal;
  @apply text-[16px] leading-[26px];
}

.another-heading6 {
  font-family: var(--font-instrument-sans), sans;
  font-weight: normal;
  @apply font-bold text-[14px] leading-[21px];
}

.another-body {
  font-family: var(--font-instrument-sans), sans;
  font-weight: normal;
  @apply text-[14px] leading-[21px];
}

.another-label {
  font-family: var(--font-instrument-sans), sans;
  font-weight: normal;
  @apply text-[10px] leading-[21px];
}
